{% extends "tasks/base.html" %}

{% block title %}My Tasks{% endblock %}

{% block content %}
<div id="sidebar">
    <h1>Search</h1>
    <form method="get">
        <label for="priority">Priority:</label>
        <select name="priority">
            <option value="{{ Task.Priority.HIGH }}">High</option>
            <option value="{{ Task.Priority.MEDIUM }}">Medium</option>
            <option value="{{ Task.Priority.LOW }}">Low</option>
        </select>
        </select>

        <label for="title">Title:</label>
        <input type="text" name="title" value="{{ request.GET.title }}">

        <label for="created_at">Created At:</label>
        <input type="date" name="created" value="{{ request.GET.created }}">

        <label for="due_date">Due Date:</label>
        <input type="date" name="due_date" value="{{ request.GET.due_date }}">

        <p>
            <button type="submit" id="filter">Filter</button>
        </p>
    </form>
</div>


<h1>Tasks</h1>
{% for task in tasks %}
<h2>
    <a href="{% url 'task_detail' task.id %}">
        {{ task.title }}
    </a>
</h2>
{% for image in task.photos.all %}
{% if image.image %}
<img src="{{ image.image.url }}">
{% endif %}
{% endfor %}
<p>Priority: {{ task.get_priority_display }}</p>
<p>Complete within {{ task.due_date }}</p>
<p class="date">
    Created {{ task.created }} by {{ task.author }}
</p>
{{ task.description|truncatewords:30 }}
{% endfor %}
{% endblock %}