{% extends "tasks/base.html" %}

{% load static %}

{% block title %}
{{ task.title }}
{% endblock %}
{% block content %}
<div class="task-detail">
    {% for image in task.photos.all %}
    {% if image.image %}
    <img src="{{ image.image.url }}">
    {% endif %}
    {% endfor %}

    <h1><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></h1>
    <p>Priority:
    <h1>{{ task.get_priority_display }}</h1>
    </p>
    <p class="deadline">Deadline: {{ task.due_date }}</p>
    {{ task.description|linebreaks }}
</div>
<p><a href="{% url 'add_image' task.pk %}">+ Add photos</a></p>
<p><a href="{% url 'update_task' task.pk %}">+ Edit Task</a></p>
<a href="{% url 'delete_task' task.pk %}">Delete Task</a>
{% endblock %}